include _head
!!! 5
html
    head
        meta(charset="utf-8")
        title 模板导航
        meta(name="viewport", content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=0")
        meta(name="apple-mobile-web-app-capable", content="yes")
        meta(name="apple-mobile-web-app-status-bar-style", content="black")
        meta(name="format-detection", content="telephone=no")
        link(rel="apple-touch-icon-precomposed", href="http://p.www.xiaomi.com/m/app/touch-icon.png")
        link(rel="stylesheet", href="css/xmapp.css#{r}")
    body
        .xm_app
            .viewport.a2
                .title.mlr20
                    h3 2013-04-01 米粉节相关活动
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="s3.html#{r}")
                                    span 预热结果s3
                        li
                            .items
                                a.lnk(href="s2.html#{r}")
                                    span 预热结果s2
                        li
                            .items
                                a.lnk(href="s1.html#{r}")
                                    span 预热结果s1
                        li
                            .items
                                a.lnk(href="preheat.html#{r}")
                                    span 预热首页
                        li
                            .items
                                a.lnk(href="open_index_app_2s.html#{r}")
                                    span 2s抢购首页_app
                        li
                            .items
                                a.lnk(href="open_index_2s.html#{r}")
                                    span 2s抢购首页
                        li
                            .items
                                a.lnk(href="lottery_4.9.html#{r}")
                                    span 米粉节 抽奖 lottery_4.9
                .title.mlr20
                    h3 2013-03-18 新版用户中心
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="fileapi.html#{r}")
                                    span 更新:2013-03-22 17:20:37
                                    span 米粉节买票 fileapi
                        li
                            .items
                                a.lnk(href="user_order.html#{r}")
                                    span 更新:2013-03-21 14:17:16
                                    span 我的售后服务单 user_order
                        li
                            .items
                                a.lnk(href="user_02.html#{r}")
                                    span 更新:2013-03-18 17:03:28
                                    span 新版用户中心 user_02
                .title.mlr20
                    h3 2013-03-13 File API测试
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="http://10.237.39.58:3000/test")
                                    span 更新:2013-03-18 11:02:07
                                    span 上传api测试
                        li
                            .items
                                a.lnk(href="hezi.html#{r}")
                                    span 更新:2013-03-13 16:03:04
                                    span 盒子 hezi
                .title.mlr20
                    h3 2013-03-11 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="notice.html#{r}")
                                    span 更新:2013-03-11 16:53:55 
                                    span 缺货通知 notice
                .title.mlr20
                    h3 2013-03-06 模板修改
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="app_download.html#{r}")
                                    span 更新:2013-03-06 15:11:58
                                    span app下载入口 app_download
                        li
                            .items
                                a.lnk(href="product-view-2.html#{r}")
                                    span 更新:2013-03-06 10:23:45
                                    span 单品详情 product-view-2
                .title.mlr20
                    h3 2013-03-05 地理信息测试
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="geolocation.html#{r}")
                                    span 更新:2013-03-05 21:29:36
                                    span 地理信息测试 geolocation
                br
                .title.mlr20
                    h3 2013-03-04 模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="open_index_app.html#{r}")
                                    span 更新:2013-03-18 15:09:10
                                    span app开放购买首页 open_index_app
                        li
                            .items
                                a.lnk(href="open_index.html#{r}")
                                    span 更新:2013-03-04 17:38:53
                                    span 开放购买首页 open_index
                br
                .title.mlr20
                    h3 2013-03-01 预约领取F码
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="receive_tips02.html#{r}")
                                    span 更新:2013-03-01 15:23:25
                                    span 预约领取F码-提示2 receive_tips02
                        li
                            .items
                                a.lnk(href="receive_tips.html#{r}")
                                    span 更新:2013-03-01 15:00:44
                                    span 预约领取F码-提示 receive_tips
                        li
                            .items
                                a.lnk(href="receive_suc.html#{r}")
                                    span 更新:2013-03-01 14:19:10
                                    span 预约领取F码-成功 receive_suc
                        li
                            .items
                                a.lnk(href="receive_form.html#{r}")
                                    span 更新:2013-02-28 22:48:27
                                    span 预约领取F码-填手机号 receive_form
                        li
                            .items
                                a.lnk(href="receive.html#{r}")
                                    span 更新:2013-02-28 15:12:01
                                    span 预约领取F码
                .title.mlr20
                    h3 2013-02-28 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="loading_view.html#{r}")
                                    span 更新:2013-02-28 15:54:59
                                    span 通用正在加载 loading_view
                        li
                            .items
                                a.lnk(href="Fpopanel.html#{r}")
                                    span 更新:2013-02-27 20:59:01
                                    span F码弹层 Fpopanel
                        li
                            .items
                                a.lnk(href="login_view.html#{r}")
                                    span 更新:2013-02-23 10:35:31
                                    span 登录页面 login_view
                        li
                            .items
                                a.lnk(href="product-list2.html#{r}")
                                    span 更新:2013-02-19 12:16:51
                                    span 分类列表筛选
            .viewport.a1
                br
                .title.mlr20
                    h3 2013-02-04 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="register.html#{r}")
                                    span 更新:2013-02-04 17:14:35
                                    span 注册页面结构调整 register
                        li
                            .items
                                a.lnk(href="fcode_stylelist.html#{r}")
                                    span 更新:2013-02-04 16:07:14
                                    span F码套装选择 fcode_stylelist
                        li
                            .items
                                a.lnk(href="check_fcode.html#{r}")
                                    span 更新:2013-02-04 14:59:00
                                    span F码购买通道 check_fcode
                br
                .title.mlr20
                    h3 2013-01-31 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="register.html#{r}")
                                    span 更新:2013-02-01 11:38:38
                                    span 注册页面 register
                        li
                            .items
                                a.lnk(href="taozhuang_checkbox.html#{r}")
                                    span 更新:2013-01-31 16:44:45
                                    span 套装选择 taozhuang_checkbox
                br
                .title.mlr20
                    h3 2013-01-30 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="tips_order.html#{r}")
                                    span 更新:2013-01-30 20:48:55
                                    span 下单重复提示 tips_order
                        li
                            .items
                                a.lnk(href="tips_coupon.html#{r}")
                                    span 更新:2013-01-30 20:29:32
                                    span 优惠券空提示 tips_coupon
                        li
                            .items
                                a.lnk(href="tips_busy.html#{r}")
                                    span 更新:2013-01-30 20:15:10
                                    span 系统繁忙提示 tips_busy
                        li
                            .items
                                a.lnk(href="tips_view.html#{r}")
                                    span 更新:2013-01-30 17:24:28
                                    span 提示通用模板 tips_view
                        li
                            .items
                                a.lnk(href="repair_view.html#{r}")
                                    span 更新:2013-01-30 15:29:26
                                    span 维修单详情 repair_view
                br
                .title.mlr20
                    h3 2013-01-30 修改模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="coupons_list.html#{r}")
                                    span 更新:2013-01-30 21:31:47
                                    span 优惠券列表 coupons_list
                        li
                            .items
                                a.lnk(href="shopping_empty.html#{r}")
                                    span 更新:2013-01-30 17:42:17
                                    span 空购物车 shopping_empty
                        li
                            .items
                                a.lnk(href="order_view.html#{r}")
                                    span 更新:2013-01-30 14:33:48
                                    span 订单详情已付款 order_view
                        li
                            .items
                                a.lnk(href="order_view2.html#{r}")
                                    span 更新:2013-01-30 11:17:58
                                    span 待付款订单详情 order_view2
                br
                .title.mlr20
                    h3 2013-01-29 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="repair_list.html#{r}")
                                    span 更新:2013-01-29 20:43:21
                                    span 维修单列表 repair_list
                br
                .title.mlr20
                    h3 2013-01-29 修改模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="product-list2.html#{r}")
                                    span 更新:2013-01-29 20:29:56
                                    span 子分类 product-list2
                br
                .title.mlr20
                    h3 2013-01-28 新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="static_1468.html#{r}")
                                    span 更新:2013-01-28 20:44:10
                                    span mi2产品介绍页 static_1468
                        li
                            .items
                                a.lnk(href="static_1338.html#{r}")
                                    span 更新:2013-01-28 20:44:10
                                    span mi1sy青春版产品介绍页 static_1338
                        li
                            .items
                                a.lnk(href="static_1336.html#{r}")
                                    span 更新:2013-01-28 20:44:10
                                    span mi1s产品介绍页 static_1336
                br
                .title.mlr20
                    h3 2013-01-24结构有调整
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="shopping_stylelist.html#{r}")
                                    span 更新:2013-01-24 11:33:35
                                    span 套装选择 shopping_stylelist
                        li
                            .items
                                a.lnk(href="shopping_cartlist.html#{r}")
                                    span 更新:2013-01-24 10:56:26
                                    span 购物车 shopping_cartlist
                br
                .title.mlr20
                    h3 2013-01-25新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="bargain_supply.html#{r}")
                                    span 更新:2013-01-25 16:05:17
                                    span 加价购产品预览 bargain_supply
                br
                .title.mlr20
                    h3 2013-01-24结构有调整
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="order_submit2.html#{r}")
                                    span 更新:2013-01-23 21:32:31
                                    span 确认订单2 order_submit2
                        li
                            .items
                                a.lnk(href="shopping_delcart.html#{r}")
                                    span 更新:2013-01-23 17:17:18
                                    span 修改购物车 shopping_delcart
                        li
                            .items
                                a.lnk(href="order_payView.html#{r}")
                                    span 更新:2013-01-23 14:35:35
                                    span 在线支付(订单成功) order_payView
                .title.mlr20
                    h3 2013-01-23新增模板
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="order_view2.html#{r}")
                                    span 更新:2013-01-23 16:57:29
                                    span 订单详情待付款 order_view2
                br
                .title.mlr20
                    h3 模板导航
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="ad_list.html#{r}")
                                    span.name 首页 ad_list
                        li
                            .items
                                a.lnk(href="order_express.html#{r}")
                                    span.name 物流查询 order_express
                        li
                            .items
                                a.lnk(href="order_checkout.html#{r}")
                                    span.name 用户结算 order_checkout
                        li
                            .items
                                a.lnk(href="address_list.html#{r}")
                                    span.name 地址列表 address_list
                        li
                            .items
                                a.lnk(href="product-list.html#{r}")
                                    span.name 分类 product-list
                        li
                            .items
                                a.lnk(href="product-view-2.html#{r}")
                                    span.name 单品详情 product-view-2
                        li
                            .items
                                a.lnk(href="select_address.html#{r}")
                                    span.name 选择收货地址 select_address
                        li
                            .items
                                a.lnk(href="address_add.html#{r}")
                                    span.name 新增收货地址 address_add
                        li
                            .items
                                a.lnk(href="user.html#{r}")
                                    span.name 我的账号 user
                        li
                            .items
                                a.lnk(href="order_submit.html#{r}")
                                    span.name 确认订单 order_submit
                        li
                            .items
                                a.lnk(href="discount_coupons.html#{r}")
                                    span.name 使用优惠劵 discount_coupons
                        li
                            .items
                                a.lnk(href="order_list.html#{r}")
                                    span.name 订单列表 order_list
                        li
                            .items
                                a.lnk(href="style_panel.html#{r}")
                                    span.name 样式选择弹框 style_panel
                br
                .title.mlr20
                    h3 一些UI控件
                .list_nav.list_nav_tmp.mlr20
                    ul
                        li
                            .items
                                a.lnk(href="ui.html#{r}")
                                    span.name ui
                        li
                            .items
                                a.lnk(href="ui_form.html#{r}")
                                    span.name form控件
                        li
                            .items
                                a.lnk(href="ui_list_cart.html#{r}")
                                    span.name list列表控件
                br
                .title.mlr20
                    h3 线上测试
                    p p.www.xiaomi.com/m/topic/templates/nav.html#{r}
                .mt20.mlr20
                    a.button.active_button(href="http://p.www.xiaomi.com/m/topic/templates/nav.html#{r}") 线上测试版本
                br
